body {
  margin: 0;
   background-color: var(--color5);
   
   font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}
code {
  font-family: 'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --color1:  #417b34;
    --color2: #4d863f;
    --color3: #59924a;
    --color4: #649e55;
    --color5: #70aa60;
  }

  .App{
    display: flex;
    flex-direction: column;
    gap: 150px;
  }

